# Discord bot token
TOKEN=YOUR_BOT_TOKEN_HERE

# Channel Id's
LEADERBOARD_CHANNEL_ID=YOUR_LEADERBOARD_CHANNEL_ID_HERE
LOGS_CHANNEL_ID=YOUR_LOGS_CHANNEL_ID_HERE
GAME_CHANNEL_IDS=YOUR_GAME_CHANNEL_IDS_HERE #Separate them by a comma [Ex. 1234567891234567891,1234567891234567892]
